.m_inicio {

	cursor : pointer;

}


.menu_estatisticas {

	display : none;

}


.menu_vencimentos {

	display : none;

}


.menu_senhas {

	display : none;

}


.menu_capa_home {

	display : none;

}

.menu_menus {

	display : none;

}


.menu_seo {

	display : none;
	
}


.menu_usuarios {

	display : none;

}